h1 {
  color: Green;
  font-size: 200%;
}
p{
  color: White;
  font: "helvetica";
  text-indent: 20px;
  margin-left: 10px;
}
img{
  max-width: 500px;
  height: auto;
}
#content {
  /*look up the hex code of the color you want to change the bg to*/
  background-color: black;
  width: 800px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 2px white;
  font-size: 20px;
